/* Styles for the whole document */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  img{
    width: 100%;
  }
  a{
    text-decoration:none;
  }
  body{
    font-family: 'Arial', sans-serif;
      -webkit-font-smoothing: antialiased;
      background: #000;
      color: #999;
  }
  h1,h2,h3,h4{
    color:#fff;
  }
  p {
      margin: 0.5rem 0;
  }

/* Showcase Styles */
  .showcase{
    height: 93vh;
    width: 100%;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
    position: relative;
  }
  .showcase::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:1;
      background: rgba(0, 0, 0, 0.6);
      box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
  }
  .showcase-top{
    width: 100%;
    height: 90px;
    z-index:100;
    position: relative;
    text-decoration: solid;
    color: white;
  }
  .showcase-top img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 170px;
    margin-top:0.3rem;
  }
  a:link, a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgba(255, 0, 0, 0);
  }
  .showcase-top button{
    text-decoration-color: white;
    color: white;
    position: absolute;
    right:0;
    top:50%;
    transform:translate(-50%,-50%);
  }
  #showcase .showcase-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    width: 65%;
    margin:auto;
    margin-top:4rem;
  }
  #showcase .showcase-content h1{
    font-weight: 700;
    font-size: 5.2em;
    line-height: 1.1;
    margin: 0 0 2rem;
    color: white;
    z-index:100;
  }
  .showcase-content p {
      text-transform: uppercase;
      color: #fff;
      font-weight: 400;
      font-size: 1.9rem;
      line-height: 1.25;
      margin: 0 0 2rem;
    z-index:100;
    word-spacing:0.2rem;
  }
  #showcase .showcase-top button{
    cursor:pointer;
    background-color:#e50912;
    border-radius:5px;
    padding:0.5rem 1.6rem;
    color:#fff;
    font-size:1em;
    border:0;
    display:flex;
  }
  #showcase .showcase-content button{
    cursor:pointer;
    background-color:#e50912;
    border-radius:5px;
    padding:1rem 3rem 1rem 1.5rem;
    color:#fff;
    font-size:2.3em;
    border:0;
    z-index:100;
    position: relative;
    display:inline-block;
    text-transform:uppercase;
  }
  #showcase .showcase-content button::after{
  position: absolute;
    content:"";
    top:40%;
    right:4%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    transform:rotate(45deg);
    clip-path:polygon(0 0,100% 0,100% 100%,100% 100%);
  }
  button:hover{
    opacity:0.8;
  }
  /* ===== tabs ===== */
  #tabs{
    padding-top: 1rem;
      border-bottom: 4px solid #000000;
      border-right: none;
     background-color: #000000;
  }
  #tabs .container{
   display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.2rem;
      align-items: center;
      justify-content: center;
      text-align: center;
    max-width:100%;
    margin:auto;
    padding: 0 2rem;
    overflow:hidden;
  }
  #tabs p{
    color:#777;
    font-size: 1.2rem;
      padding-top: 0.5rem;
  }
  #tabs .container a{
    padding:1.3rem 0;
  }
  #tabs .container a:hover p{
      color: #fff;
  }
  #tabs .container a:hover{
    border-bottom:2px solid #fff;
  }
  
  #tabs .container img{
    width: 150px;
    height: 150px;
  }
  #tabs .container p{
    font-size:1.3rem;
    padding-top:0.2rem;
  }
  /* == tab1 ==*/
  #table #tab1 img{
    width: 300px;
    height: 200px;
  }
  #table .table-content{
    padding:2rem 0rem;
  }
  #table #tab1{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 2rem;
      align-items: center;
      justify-content: center;
    width: 80%;
    margin:auto;
    padding:2rem 3rem;
    display:none;
  }
  #table #tab1:target{
    display:grid;
  }
  
  #table #tab1 .text p{
    color:#fff;
    font-size:1.7em;
    margin-bottom:1rem;
    margin-right:1.2rem;
  }
  #table #tab1 .text button{
    background-color:#e50912;
    color:#fff;
    font-size:1em;
    text-transform:uppercase;
    padding:1rem;
    border:0;
    border-radius:5px;
  }
  #table #tab1 .text{
    padding:0.5rem;
  }
  
  /* ==== tab2 ==== */
  #tab2{
    display:flex;
    flex-direction:column;
    padding-left:3rem;
    padding-right:3rem;
    display:none;
  }
  #tab2:target{
    display:flex;
  }
  #tab2 .text{
    color:#fff;
     display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 2rem;
      align-items: center;
      justify-content: center;
    width: 80%;
    margin:auto;
    padding-top:2rem;
    padding-bottom:2rem;
  }
  #tab2 .text P{
    font-size:1.7rem;
  }
  #tab2 .text button{
    width: 60%;
   background-color:#e50912;
    color:#fff;
    font-size:1.2em;
    text-transform:uppercase;
    padding:0.7rem 1rem;
    border:0;
    border-radius:5px; 
    margin-left:1rem;
  }
  #tab2 .class img{
    width:100%
  }
  #tab2 .class{
    display:grid;
    grid-template-columns:repeat(3,1fr);
  grid-gap: 2rem;
    text-align:center;
      align-items: center;
      justify-content: center;
    width: 90%;
    margin:auto;
    padding-top:2rem;
    padding-bottom:2rem;
  }
  #tab2 .class p.text-md{
    color:#fff;
    padding-bottom: 1rem;
    font-size:1.5em;
  }
  
  /* ==== tab3 ==== */
  #tab3{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
     padding:2rem 3rem;
    display:none;
  }
  #tab3:target{
    display:flex;
  }
  #tab3 .text{
    color:#fff;
      display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:auto;
    text-align:center;
  }
  #tab3 .text p{
    margin-bottom:1rem;
    width: 80%;
    font-size:1.8em;
  }
  #tab3 .text button{
    background-color:#e50912;
    text-transform:uppercase;
    padding:1rem 2rem;
      border:0;
    color:#fff;
    border-radius:5px;
    font-size:1.2em;
    margin-bottom:2rem;
  }
  .table {
      width: 70%;
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  .table thead th {
      text-transform: uppercase;
      padding: 0.8rem;
  }
  
  .table tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
  }
  
  .table tbody tr td {
      color: #999;
      padding: 0.8rem 1.2rem;
      text-align: center;
  }
  
  .table tbody tr td:first-child {
      text-align: left;
  }
  
  .table tbody tr:nth-child(odd) {
      background: #222;
  }
  
  /* === footer === */
  .footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-left:2rem;
    padding-right:2rem;
    margin:2rem;
    cursor: pointer;
  }
  
  .tel-link{
    text-decoration: none;
    color: #999;
}
  .footer .footer-cols{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:2rem;
    width:80%;
    margin: auto;
    margin-top:1.5rem;
    cursor: pointer;
  }
  .footer .footer-cols ul{
    list-style-type:none;
  }
  .footer .footer-cols ul li a{
    color:#999;
  }
  .footer .footer-cols ul li{
    padding:0.3rem;
  }
  .footer p{
    align-self:flex-start;
    margin-left:5.7rem;
  }

/* Media Responsiveness */
  @media screen and (max-width:960px){
    #showcase .showcase{
      height: 75vh;
    }
    .showcase .showcase-top img{
      position: absolute;
      left:15%;
      }
    
    body{
     font-size:14px;
    }
    .showcase .showcase-content{
      font-size:11px;
      margin-top:1rem;
      padding: 0.7rem;
      position:relative;
      top:-10%; 
    }
   .showcase-content h1 {
          line-height: 1;
      }
  
      .showcase-content p {
          font-size: 1.5rem;
      }
    .showcase-content button{
      margin-bottom:4rem;
    }
    .footer .footer-cols{
      display:grid;
      grid-template-columns:repeat(2,1fr);
    }
    #tab2 .class{
      width:30%;
    }
  }
  
  @media screen and (max-width:705px){
    .showcase .showcase-top img{
      position: absolute;
      left:16%;
    }
    .showcase .showcase-content{
      font-size:0.5rem;
      position: relative;
      top:-8%;
    }
    .showcase .showcase-content p{
      font-size:1rem;
      margin-bottom:2rem;
    }
    #tabs .container{
      grid-gap:2rem;
      width: 100%;
      padding: 0 1rem;
    }
    #tabs .container p{
      font-size:1rem;
    }
    #table #tab1{
      padding-top:10px;
     grid-template-columns:repeat(1,1fr);
      align-items:center;
      justify-content:center;
      text-align:center;
      margin:auto;
    }
    #table #tab1 img{
      width: 450px;
      height: 300px;
    }
    
    #tab2 .text{
      display:grid;
      grid-template-columns:repeat(1,1fr);
      text-align:center;
      align-items:center;
      justify-content:center;
      margin:auto;
      grid-gap:0.8rem;
      padding-top:10px;
    }
    #tab2 .class{
      display:grid;
      grid-template-columns:repeat(1,1fr);
    }
    #tab2 .class img{
      width: 400px;
      height: 300px;
    }
    #tab2 .class .text-dark{
      font-size:1rem;
    } 
    #tab2 .text button{
      margin:auto;
      width: 60%;
    }
   
  }