:root{
    --red: #e50914;
    --white: #fff;
    --headings: #e5e5e5;
    --background-black: #141414;
    --black: #000;
    --grey: #80808050; 
    --heading-grey: #808080;
    
    --box-shadow-btn: 0 1px 0 rgb(0 0 0 / 45%);
    --box-shadow-red: 0 2px 0 rgba(255, 0, 0, 0.5);
    --btn-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

*{
    box-sizing: border-box;
    background-color: #000;
}

body{
    background-color: var(--black);
    font-family: sans-serif;
    color: var(--white);
    margin: 0;
}

nav{
    background: transparent;
}

.nav-left{
    display: flex;
    float: left;
}

#netflixlogo{
    width: 130px;
    height: 70px;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
}

.category .browse-active{
    color: var(--white);
    font-weight: 550;
    font-size: large;
    text-decoration: none;
}

.primary-navigation{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 2.2rem;
}

.watchlist{
    background-color: var(--black);
    border: none;
    text-decoration: none;
    color: var(--white);
    font-size: large;
    font-weight: 550;
}

.list-nav-right{
    margin-right: -0.5rem;
    margin-bottom: -0.5px;
  }
.category button{
    background-color: var(--black);
    border: none;
    cursor: pointer;
}

.nav-right{
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-right: 2rem;
}

#search-btn{
    width: 32px;
    height: 32px;
}

#searchBox{
    background-color: var(--grey);
    width: max-content;
    height: 2rem;
    margin: 1rem;
    color: var(--white);
    border: var(--headings);
    border-style: inset;
    font: italic;
    font-size: 14px;
    padding: 1rem;
}

.notification{
    width: 32px;
    height: 32px;
}

.primary-navigation{
    list-style: none;
    text-decoration: none;
    color: var(--white);
}

.extra{
    list-style: none;
}

.browse{
    color: var(--white);
    text-decoration: none;
}

.category{
    color: var(--white);
    text-decoration: none;
    list-style: none;
}

.notfications-btn{
    background-color: var(--black);
    border: none;
    margin-right: -0.8rem;
}

.my-profile{
    background-color: var(--black);
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

h3{
    background-color: #000;
    color: var(--white);
    margin-left: 1rem #000;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 0.5rem;
}
.section-title{
    margin-bottom: var(--black);
}